			
			<f:format.raw>{nv}</f:format.raw>

<div role="main">

	
	<f:format.raw>{content}</f:format.raw>
	
</div>
<f:render partial="footer" arguments="{footerContent:fc, footerMenu:fm, footerSocial:fs, pc:pc}" />