<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">

        <f:form.checkbox
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute}"
                value="{element.properties.value}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
        />

        <label class="{element.properties.elementClassAttribute} form-check-label" for="{element.uniqueIdentifier}">
            <f:if condition="{element.properties.pageUid}">
                <f:then>
                    <f:link.typolink parameter="{element.properties.pageUid}" target="_blank">
                        <f:render section="label" arguments="{_all}"/>
                    </f:link.typolink>
                </f:then>
                <f:else>
                    <f:render section="label" arguments="{_all}"/>
                </f:else>
            </f:if>

        </label>
    </f:render>
</formvh:renderRenderable>

<f:section name="label">
    {formvh:translateElementProperty(element: element, property: 'label')}
    <f:if condition="{element.required}">
        <f:render partial="Field/Required"/>
    </f:if>
</f:section>
</html>
