<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">

        <f:form.checkbox
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute}"
                value="{element.properties.value}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
        />

        <label class="{element.properties.elementClassAttribute} form-check-label" for="{element.uniqueIdentifier}">
            {formvh:translateElementProperty(element: element, property: 'label')}
            <f:if condition="{element.required}">
                <f:render partial="Field/Required"/>
            </f:if>
        </label>
    </f:render>
</formvh:renderRenderable>
</html>
