<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:form.validationResults for="{element.identifier}">
		<div class=" form-row {element.properties.containerClassAttribute}">
				<f:if condition="{element.properties.hideLabel}">
						<f:else>
								<label {f:if(condition:"{element.templateName} ===
								'SingleSelect'",then:'class="mod_form__label--hidden"')}
								for="{element.uniqueIdentifier}"
								>
								{formvh:translateElementProperty(element: element, property: 'label')}
								<f:if condition="{element.required}">
										<f:render partial="Field/Required"/>
								</f:if>
								</label>

						</f:else>
				</f:if>
				<f:format.raw>
						{elementContent}
						<f:if condition="{validationResults.flattenedErrors}">
					<span class="error help-block" role="alert">
						<f:for each="{validationResults.errors}" as="error">
							{formvh:translateElementError(element: element, code: error.code, arguments: error.arguments, defaultValue: error.message)}
							<br/>
						</f:for>
					</span>
						</f:if>
				</f:format.raw>
				<f:if condition="{element.properties.elementDescription}">
						<span class="help-block">{formvh:translateElementProperty(element: element, property: 'elementDescription')}</span>
				</f:if>
		</div>


</f:form.validationResults>
</html>
