<div class="page-footer page-footer-{pc}">
		<div class="page-width">
				<div class="footer">
						<div class="footer__logo">
								<div class="logo__inner">

										<img src="{f:uri.resource(path:'media/logo-footer.svg', extensionName:'sm_sutsche')}"
										     alt="Sutsche | Besser. Gut. Beraten.">
								</div>
						</div>
						<div class="footer__item">
								<f:format.html parseFuncTSPath="">{footerContent}</f:format.html>

						</div>
						<nav class="footer__item">
								<f:format.raw>{footerMenu}</f:format.raw>

						</nav>
						<div class="footer__item">
								<f:format.raw>{footerSocial}</f:format.raw>

						</div>
				</div>
		</div>
</div>
